h1 Users

div.main-user(ng-repeat="user in users")
	div.info-user
		div.initials-container
			div.initials {{user.initials}}
		div.info-center
			div.username 
				p {{user.username}}
			div.roles
				p
					a Roles:
					a(ng-repeat="role in user.roles | filter : {'selected' : 'true'}")   {{role.name + " "}}
		div.button-edit.button-container
			p.button.-blue(ng-click="isEditFormOpen = !isEditFormOpen") Edit

	div.edit-user(ng-show="isEditFormOpen")
		div.edit-username
			div.title-username
				p USERNAME
			div.enter-username
				input(type="text" name="userName" ng-model='user.username' user-name-validation required)
		div.edit-roles
			div.title-roles
				p ROLES
			div.check-roles
				div(ng-repeat="role in user.roles")
					input(type="checkbox" name="role" ng-checked="{{role.selected}}" ng-model="role.selected")
					label {{role.name}}
				div
				
